@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@


<section class="container content-space">
    @Umbraco.RenderMacro("registerNewMember")
    </section>