@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="grid-layout content-space">
    @Html.GetGridHtml(Model.Content, "basicGridLayout")
</div>